:root {
	/* Neutral colors */
	--neutral-darker: hsl(240, 20%, 11%);
	--neutral-surface: hsl(240, 12%, 18%);
	--neutral-header: hsl(240, 12%, 22%);
	--neutral-text: hsl(0, 0%, 96%);
	/* Primary colors */
	--primary-highlight: #6ad8f3;
	/* Secondary colors */
	--secondary-income: #62ffb0;
	--secondary-expense: hsl(352, 88%, 62%);
}
* {
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--neutral-darker);
}
